.uploadifive-button {
  margin-right: 10px;
}
#queue {
  border: 1px solid #E5E5E5;
  height: auto;
  max-height: 180px;
  overflow: auto;
  margin-bottom: 10px;
  padding: 0 1px 0px;
  width: 100%;

}
#galeiraimagenes {
  border: 1px solid #E5E5E5;
  height: auto;
  max-height: 350px;
  overflow: auto;
  margin-bottom: 10px;
  padding: 0 1px 0px;
  width: 90%;

}

.addimage {
  position:relative;
  width: 90px;
  height: 66px;
  display: inline-block;
  margin: 4px;
  padding : 4px;
}

.previewimg{

 position:absolute;
 top: 10px;
 left:6px;
 border:none;
}

.deleteimg{

 position:absolute;
 cursor: pointer;
 bottom:  3px;
 right: 3px;
 border:none;
}
.editimg{

 position:absolute;
 cursor: pointer;
 bottom:  3px;
 right: 22px;
 border:none;
}

.resaltar{
  background-color: #FF0000;
  border : 1px solid #E5E5E5;

}
#izquierda{
width:40%;
float: left;
}

#derecha{
width:60%;
float: right;
}

.sortable { list-style-type: none; margin: 0; padding: 2px; width: 99%; }
.sortable li { margin: 3px 3px 3px 3px; padding: 1px; float: left;  font-size: 2em; text-align: center; background-image: url(loading.gif); background-repeat:no-repeat; background-position:center center;  }
