.top-switch-bg,button.button span, .products-grid .hover .price-box,.cart-top > a ,.cart-top-container .details-border {background-color: #4c4c4c;}

.cart-top-container .details-border:before {border-bottom-color: #4c4c4c;}
.block,.cart .cart-collaterals .cart-block,#queldoreiNav > li > a:hover > span, 
#queldoreiNav > li.over > a > span, #queldoreiNav > li.active > a > span,.cms-index-index .block  {border-top-color: #4c4c4c;}
.footer-info a {color: #4c4c4c}


.btn-remove, .btn-edit, #toTop,.footer-info ul.social li a:hover,button.invert:hover span, 
button.btn-continue:hover span, .cart-shipping button:hover span, .cart-coupon button:hover span,
.products-grid .hover .button-container button.button span span em,.jcarousel-next-horizontal:hover,
.jcarousel-prev-horizontal:hover,.data-table .btn-remove2,.flex-control-paging li a.flex-active,.flex-control-paging li a:hover  {background-color: #afafaf;}

.toolbar-dropdown ul li a:hover, .toolbar-dropdown ul li.selected a { text-decoration:none; color:#afafaf;}
.pager .pages .current,.pager .pages li a:hover {color: #afafaf;}
.product-tabs li.active {border-top-color: #afafaf;}


